<h1>An Online Portal for the Farmers</h1>

<%= link_to 'Farmer Page', farmer_path, class:"btn btn-secondary" %><br>

<br>
<br>
<br>

<%= link_to 'Agricultural Officer Page', officer_path, class:"btn btn-secondary" %><br>